{% extends 'base.html' %}
{% load static %}
{% load cropping %}
{% load tags_list_tag %}

{% block title %}{{ city.title }} - {{ block.super }}{% endblock %}


{% block background %}

<div class="bgded" style="background-image:url('{% cropped_thumbnail city 'cropping' %}');">
  <div id="pageintro" class="hoc clear">
    <article>
      <h3 class="heading">{{ city.title }}</h3>
      <p>{{ city.description }}</p>
      <footer><a class="btn" href="{{ city.telegram }}"><i class="fa fa-telegram" aria-hidden="true"></i> Telegram-чат</a></footer>
    </article>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="wrapper row3">
  <main class="container">
    <!-- main body -->
    <div class="sectiontitle">
      <h6 class="heading">Немного информации о городе</h6>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4"><img class="inspace-15 borderedbox" src="{% cropped_thumbnail city 'cropping_content_photo' %}" alt=""></div>
      <div class="col-sm-12 col-md-8">
        <div class="row">
          <div class="col-sm-12 col-md-6 text-center">
            <article>
              <h6 class="heading"><a href="#">Население</a></h6>
              <p class="nospace">{{ city.populate }} чел.</p>
            </article>
          </div>
          <div class="col-sm-12 col-md-6 text-center">
            <article>
              <h6 class="heading"><a href="#">До аэропорта</a></h6>
              <p class="nospace">{{ city.distance_to_airport }} км</p>
            </article>
          </div>
        </div>
        <p>{{ city.content|safe }}</p>
      </div>
    </div>

    {% if city.location %}
    <div id="map"></div>


        {{ companies_coords|json_script:"hello-data"}}

        <script>
        function initMap() {
            var data = JSON.parse(document.getElementById('hello-data').textContent);
            console.log(data);
            document.addEventListener('DOMContentLoaded', function(){
                var map = new google.maps.Map(document.getElementById("map"), {
                    center: { lat: {{ city.latitude }}, lng: {{ city.longitude }} },
                    zoom: 12
                });

                infoWindow = new google.maps.InfoWindow; //static infoWindow for all your markers
                google.maps.event.addDomListener(window, 'load', function() {
                // The marker, positioned at City
                const marker_city = new google.maps.Marker({
                    position: { lat: {{ city.latitude }}, lng: {{ city.longitude }} },
                    map: map,
                });
                marker_city.addListener('click', function() {
                    infoWindow.setContent("<strong><a href=\"\">{{ city.title }}</a></strong><p></p>");
                    infoWindow.open(map, marker_city);
                });





                for(var i = 0; i < data.length; i++) {
                    var item = data[i];
                    var base_url = "http://maps.google.com/mapfiles/ms/icons/";
                    var marker = new google.maps.Marker({
                        position: {lat: item.lat, lng: item.lon},
                        map: map,
                        id: i,
                        icon: base_url + "green-dot.png"
                    });
                    marker.addListener('click', function() {
                        var marker = this;
                        // center map to marker
                        var objPoint = new google.maps.LatLng(
                            marker.position.lat(),
                            marker.position.lng()
                        );
                        map.setZoom(15);
                        var item = data[marker.id];
                        var contentString = '<div class="map__window" style="color: #000"><div class="map__window-title"><a href="' + item.url + '">' + item.name + '</a></div><p class="map__window-description">' + item.description + '</p></div>';

                        infoWindow.setContent(contentString);
                        infoWindow.open(map, marker);
                    });

                };
                google.maps.event.addListener(map, "click", function(event) {
                    infoWindow.close();
                });

            });

            });
        }

        window.initMap = initMap;

        </script>

    <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAP_API_KEY }}&callback=initMap">
    </script>








    {% endif %}
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <section class="hoc container clear">
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Важные статьи</h6>
      <p>Полезные статьи для иммигрантов</p>
    </div>
    <div class="row overview services">
      {% for article in articles %}
      <div class="col-sm-12 col-md-4 text-center p-3">
        <article><a href="#"><i class="fa fa-500px"></i></a>
          <h6 class="heading"><a href="#">{{ article.title }}</a></h6>
          <p>{{ article.description }}</p>
          <footer><a href="{{ article.get_absolute_url }}">Читать подробнее &raquo;</a></footer>
        </article>
      </div>
      {% endfor %}
    </div>
    <footer class="center"><a class="btn" href="{% url 'category' 'stati' %}">Все статьи</a></footer>
    <!-- ################################################################################################ -->
  </section>
</div>



<div class="wrapper row3">
  <section class="container">
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Организации</h6>
      <p>Образовательные и медицинские учреждения, развлекательные организации, кафе и рестораны, коммунальные услуги и многое другое.</p>
    </div>

    <div class="group latest">
        {% for company in companies|slice:4 %}
          <article class="one_half">
            <a href="{{ company.get_absolute_url }}">
              {% if post.photo %}
                <img src="{% cropped_thumbnail company 'cropping_thumb' %}">
              {% else %}
                <img src="https://free4kwallpapers.com/uploads/originals/2015/10/07/beautifull-painting.jpg">
              {% endif %}
            </a>
            <div class="excerpt">
              <h6 class="heading">{{ company.title }}</h6>
              <p>{{ company.description }}</p>
              <div class="clear">
                <footer class=" fl_right"><a href="{{ company.get_absolute_url }}">Читать далее</a></footer>
                <div class="created">{{ company.created_at }}</div>
                <ul class="nospace meta fl_left">
                  <li><i class="fa fa-user"></i> <a href="#">{{ company.author.username }}</a></li>
                  <li><i class="fa fa-tag"></i>
                    {% show_post_tags company %}
                  </li>
                </ul>
              </div>
            </div>
          </article>
        {% endfor %}
      </div>
    <footer class="center"><a class="btn" href="{% url 'city_companies' city.slug %}">Все организации города</a></footer>


    <!-- ################################################################################################ -->
  </section>
</div>



<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <section class="container">
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Галерея</h6>
    </div>
    <div class="row m-3">
      {% for img in gallery|slice:4 %}
            <div class="col-sm-12 col-md-3 p-3"><a href="{{ img.image.url }}" class="fancybox"><img src="{% cropped_thumbnail img 'cropping_gallery' %}" alt=""></a></div>
      {% endfor %}
      </div>
    <footer class="center"><a class="btn" href="{% url 'city_gallery' city.slug %}">Все фото &raquo;</a></footer>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <section class="container">
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Новости</h6>
    </div>

    <div class="group latest">
        {% for post in posts|slice:4 %}
          <article class="one_half">
            <a href="{{ post.get_absolute_url }}">
              {% if post.photo %}
                <img src="{% cropped_thumbnail post 'cropping_thumb' %}">
              {% else %}
                <img src="https://free4kwallpapers.com/uploads/originals/2015/10/07/beautifull-painting.jpg">
              {% endif %}
            </a>
            <div class="excerpt">
              <h6 class="heading">{{ post.title }}</h6>
              <p>{{ post.description }}</p>
              <div class="clear">
                <footer class=" fl_right"><a href="{{ post.get_absolute_url }}">Читать далее</a></footer>
                <div class="created">{{ post.created_at }}</div>
                <ul class="nospace meta fl_left">
                  <li><i class="fa fa-user"></i> <a href="#">{{ post.author.username }}</a></li>
                  <li><i class="fa fa-tag"></i>
                    {% show_post_tags post %}
                  </li>
                </ul>
              </div>
            </div>
          </article>
        {% endfor %}
      </div>
    <footer class="center"><a class="btn" href="{% url 'city_post' city.slug %}">Все новости города</a></footer>


    <!-- ################################################################################################ -->
  </section>
</div>

{% endblock %}

