{% extends 'base.html' %}
{% load static %}
{% load cropping %}
{% load tags_list_tag %}

{% block title %}Галерея города {{ city }} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
  <ul>
    <li><a href="/">Главная</a></li>
    <li><a href="{% url 'regions' %}">Регионы</a></li>
    <li><a href="{{ region.get_absolute_url }}">{{ region }}</a></li>
    <li><a href="{{ city.get_absolute_url }}">{{ city }}</a></li>
    <li>Галерея города {{ city }}</li>

  </ul>
{% endblock %}

{% block h1 %}Галерея города {{ city }}{% endblock %}

{% block content %}

<div class="container">
    <main class="row m-3">
        {% for img in gallery %}
            <div class="col-sm-12 col-md-3 p-3"><a href="{{ img.image.url }}" class="fancybox"><img src="{% cropped_thumbnail img 'cropping_gallery' %}" alt=""></a></div>
        {% endfor %}
    </main>
    {% include 'inc/_pagination.html' %}
</div>



{% endblock %}