{% extends 'base.html' %}
{% load static %}
{% load tags_list_tag %}
{% load cropping %}
{% load thumbnail %}


{% block title %}{{ title }} - {{ block.super }}{% endblock %}


{% block breadcrumbs %}
  <ul>
    <li><a href="/">Главная</a></li>
    <li><a href="{% url 'regions' %}">Регионы</a></li>
    {% for item in breadcrumbs %}
    <li><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
    {% endfor %}
    <li>{{ title }}</li>
  </ul>
{% endblock %}



    {% block content %}
    <div class="content">



          <div id="map"></div>


        {{ cities_coords|json_script:"cities-data"}}

        <script>
        function initMap() {
            var data = JSON.parse(document.getElementById('cities-data').textContent);
            console.log(data);
            document.addEventListener('DOMContentLoaded', function(){
                var map = new google.maps.Map(document.getElementById("map"), {
                        center: { lat: 37.215018, lng: 28.363730 },
                        zoom: 7
                    });

            infoWindow = new google.maps.InfoWindow; //static infoWindow for all your markers
            google.maps.event.addDomListener(window, 'load', function() {
                for(var i = 0; i < data.length; i++) {
                    var item = data[i];
                    var base_url = "http://maps.google.com/mapfiles/ms/icons/";
                    var marker = new google.maps.Marker({
                        position: {lat: item.lat, lng: item.lon},
                        map: map,
                        id: i,
                    });
                    marker.addListener('click', function() {
                        var marker = this;
                        // center map to marker
                        var objPoint = new google.maps.LatLng(
                            marker.position.lat(),
                            marker.position.lng()
                        );
                        map.setZoom(10);
                        var item = data[marker.id];
                        var contentString = '<div class="map__window" style="color: #000"><div class="map__window-title"><a href="' + item.url + '">' + item.name + '</a></div><p class="map__window-description">' + item.description + '</p></div>';

                        infoWindow.setContent(contentString);
                        infoWindow.open(map, marker);
                    });

                };
                google.maps.event.addListener(map, "click", function(event) {
                    infoWindow.close();
                });

            });

            });
        }


        window.initMap = initMap;

        </script>






        <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAP_API_KEY }}&callback=initMap">
        </script>


        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 p-5">
        {% for city in cities %}
            <a href="{{ city.get_absolute_url }}">{{ city.title }}</a>

        {% endfor %}
      </div>
    </div>
    {% endblock %}




