{% extends 'users/index.html' %}
{% load static %}

{% block title %}{{ title }} - {{ block.super }}{% endblock %}


{% block content %}

    <div class="content col-sm-12 col-md-9 p-3">
        <div id="custom-form">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.non_field.errors }}
            {{ form.as_p }}

            <button type="submit" class="custom-btn" name="login-button">Войти</button>
        </form>
        </div>
    </div>

{% endblock %}