{% extends 'users/index.html' %}
{% load static %}
{% load sidebar_tags %}

{% block title %}Сброс пароля - письмо отправлено - {{ block.super }}{% endblock %}

{% block h1 %}Сброс пароля - письмо отправлено{% endblock %}

{% block content %}
    <div class="content col-sm-12 col-md-9 p-3">
        <p>Мы отправили Вам на e-mail инструкцию по восстановлению пароля</p>
        <p>Если Вы не получили письмо, убедитесь в том, что Вы указали тот же e-mail, что и при регистрации.</p>
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar_user.html' %}
    {% endblock %}
