{% extends 'users/index.html' %}
{% load static %}
{% load sidebar_tags %}

{% block title %}Сброс пароля - {{ block.super }}{% endblock %}

{% block h1 %}Сброс пароля{% endblock %}

{% block content %}
    <div class="content col-sm-12 col-md-9 p-3">
        <p>Для сброса пароля введите адрес электронной почты, указанный при регистрации</p>
        <div id="custom-form">
        <form  method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form.as_p }}

        <button type="submit" class="custom-btn" name="reset-password">Сбросить пароль</button>
        </form>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar_user.html' %}
    {% endblock %}
