{% extends 'users/index.html' %}
{% load static %}
{% load sidebar_tags %}

{% block title %}Сброс пароля - введите новый пароль - {{ block.super }}{% endblock %}

{% block h1 %}Сброс пароля - введите новый пароль{% endblock %}

{% block content %}
    <div class="content col-sm-12 col-md-9 p-3">
        {% if validlink %}
            <p>Введите новый пароль дважды:</p>
            <div id="custom-form">
            <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" class="custom-btn" value="Изменить пароль"/></p>
            </form>
            </div>
        {% else %}
            <p>Ссылка на сброс пароля недействительна. Возможно, она
                уже используется. Пожалуйста, запросите новый сброс пароля.</p>
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar_user.html' %}
    {% endblock %}
