{% extends 'users/index.html' %}
{% load static %}
{% load sidebar_tags %}
{% load cropping %}
{% load tags_list_tag %}

{% block title %}{{ title }} - {{ block.super }}{% endblock %}

{% block h1 %}{{ title }}{% endblock %}

{% block content %}
    <div class="content col-sm-12 col-md-9 p-3">
        <div class="profile">
            <div class="profile-info">
            <div class="profile-img">
            <img class="rounded-circle account-img" src="{% cropped_thumbnail profile 'cropping_avatar' %}">
            </div>
            <div class="media-body px-3">
                <p class="text-secondary"><span class="param-name">Имя пользователя</span>: {{ profile.user }}</p>
                {% if profile.hidden == False or profile.user == request.user %}
                    <p class="text-secondary"><span class="param-name">e-mail</span>: <a href="mailto:{{ profile.user.email }}">
                        {{ profile.user.email }}</a></p>
                    <p class="text-secondary"><span class="param-name">Имя</span>: {{ profile.name }}</p>
                    <p class="text-secondary"><span class="param-name">Фамилия</span>: {{ profile.surname }}</p>
                    <p class="text-secondary"><span class="param-name">Дата рождения</span>: {{ profile.birthday }}</p>
                    <p class="text-secondary"><span class="param-name">Город</span>:
                        <a href="{{ profile.city.get_absolute_url }}">{{ profile.city }}</a></p>
                    <p class="text-secondary"><span class="param-name">WhatsApp</span>: <a target="_blank" href="https://api.whatsapp.com/send?phone={{ profile.whatsapp|stringformat:'s'|slice:'1:'}}">{{ profile.whatsapp }}</a></p>
                    <p class="text-secondary"><span class="param-name">Telegram</span>: <a target="_blank" href="http://t.me/{{ profile.telegram }}">{{ profile.telegram }}</a></p>
                    <p class="text-secondary"><span class="param-name">Instagram</span>: <a target="_blank" href="https://instagram.com/{{ user.profile.instagram }}">{{ profile.instagram }}</a></p>
                    <p class="text-secondary"><span class="param-name">Контакты скрыты</span>: {{ profile.hidden }}</p>
                {% else %}
                <p>Пользователь предпочел скрыть свои данные</p>
                {% endif %}
            </div>
            </div>
            <div class="profile-links py-3">
                <a href="{% url 'user_news' profile.user %}">Новости пользователя {{ profile.user }}</a>
                <a href="{% url 'user_articles' profile.user %}">Статьи пользователя {{ profile.user }}</a>
                <a href="{% url 'user_companies' profile.user %}">Компании добавленные пользователем {{ profile.user }}</a>
            </div>

        </div>
        <div class="user-posts">
            <h2>Посты пользователя {{ profile.user }}</h2>
            <div class="latest row row-cols-1 row-cols-md-2">
                {% for post in posts|slice:6 %}
                  <article class="col p-3">
                    <a href="{{ post.get_absolute_url }}">
                        <img src="{% cropped_thumbnail post 'cropping_thumb' %}">
                    </a>
                    <div class="excerpt">
                      <h6 class="heading">{{ post.title }}</h6>
                      <p>{{ post.description }}</p>
                      <div class="clear">
                        <footer class=" fl_right"><a href="{{ post.get_absolute_url }}">Читать далее</a></footer>
                        <div class="created">{{ post.created_at }}</div>
                        <ul class="nospace meta fl_left">
                          <li><i class="fa fa-user"></i> <a href="#">{{ post.author.username }}</a></li>
                          {% if post.tags.exists %}
                          <li><i class="fa fa-tag"></i>
                            {% show_post_tags post %}
                          </li>
                          {% endif %}
                        </ul>
                      </div>
                    </div>
                  </article>
                {% endfor %}
              </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar_user.html' %}
{% endblock %}