{% extends 'users/index.html' %}
{% load static %}
{% load sidebar_tags %}
{% load cropping %}

{% block title %}{{ profile.user }} - {{ block.super }}{% endblock %}

{% block h1 %}{{ profile.user }}{% endblock %}

{% block content %}
    <div class="content col-sm-12 col-md-9 p-3">
        <div class="profile">
            <div class="profile-info">
            <div class="profile-img">
            <img class="rounded-circle account-img" src="{% cropped_thumbnail profile 'cropping_avatar' %}">
            </div>
            <div class="media-body px-3">
                <p class="text-secondary"><span class="param-name">Имя пользователя</span>: {{ profile.user }}</p>
                <p class="text-secondary"><span class="param-name">e-mail</span>: <a href="mailto:{{ profile.user.email }}">
                    {{ profile.user.email }}</a></p>
                <p class="text-secondary"><span class="param-name">Имя</span>: {{ profile.name }}</p>
                <p class="text-secondary"><span class="param-name">Фамилия</span>: {{ profile.surname }}</p>
                <p class="text-secondary"><span class="param-name">Дата рождения</span>: {{ profile.birthday }}</p>
                <p class="text-secondary"><span class="param-name">Город</span>:
                    <a href="{{ profile.city.get_absolute_url }}">{{ profile.city }}</a></p>
                <p class="text-secondary"><span class="param-name">WhatsApp</span>: <a target="_blank" href="https://api.whatsapp.com/send?phone={{ profile.whatsapp|stringformat:'s'|slice:'1:'}}">{{ profile.whatsapp }}</a></p>
                <p class="text-secondary"><span class="param-name">Telegram</span>: <a target="_blank" href="http://t.me/{{ profile.telegram }}">{{ profile.telegram }}</a></p>
                <p class="text-secondary"><span class="param-name">Instagram</span>: <a target="_blank" href="https://instagram.com/{{ user.profile.instagram }}">{{ profile.instagram }}</a></p>
                <p class="text-secondary"><span class="param-name">Контакты скрыты</span>: {{ profile.hidden }}</p>
            </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar_user.html' %}
    {% endblock %}