{% extends 'base.html' %}
{% load static %}
{% load post_tags_tag %}
{% load cropping %}
{% load thumbnail %}


{% block title %}{{ title }} - {{ block.super }}{% endblock %}

{% block background %}
  {% if instance.cropping %}
    <div class="bgded overlay" style="background-image:url('{% cropped_thumbnail instance 'cropping' scale=0.5 %}');">
  {% elif post %}
    <div class="bgded overlay" style="background-image:url('{% cropped_thumbnail post 'cropping' scale=0.5 %}');">
  {% else %}
    <div class="bgded overlay" style="background-image:url('{% static '/images/default-background.jpg' %}');">
  {% endif %}
      {% block breadcrumbs %}
      <section id="breadcrumb" class="hoc clear">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Lorem</a></li>
          <li><a href="#">Ipsum</a></li>
          <li><a href="#">Dolor</a></li>
        </ul>

        <h6 class="heading">
          {% block h1 %}
          {{ title }}
          {% endblock %}
        </h6>

      </section>
      {% endblock %}
  </div>
{% endblock %}


{% block wraper_start %}
<div class="container">
  <main class="row">
    <!-- main body -->
    {% endblock %}

    {% block content %}
    <div class="content col-sm-12 col-md-9">
      <div class="latest row row-cols-1 row-cols-md-2">
        {% for post in posts %}
          <article class="col p-3">
            <a href="{{ post.get_absolute_url }}">
              {% if post.photo %}
                <img src="{% cropped_thumbnail post 'cropping_thumb' %}">
              {% else %}
                <img src="https://free4kwallpapers.com/uploads/originals/2015/10/07/beautifull-painting.jpg">
              {% endif %}
            </a>
            <div class="excerpt">
              <h6 class="heading">{{ post.title }}</h6>
              <p>{{ post.description }}</p>
              <div class="clear">
                <footer class=" fl_right"><a href="{{ post.get_absolute_url }}">Читать далее</a></footer>
                <div class="created">{{ post.created_at }}</div>
                <ul class="nospace meta fl_left">
                  <li><i class="fa fa-user"></i> <a href="#">{{ post.author.username }}</a></li>
                  {% if post.tags.exists %}
                  <li><i class="fa fa-tag"></i>
                    {% show_post_tags post %}
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </article>
        {% endfor %}
      </div>
      {% include 'inc/_pagination.html' %}
    </div>
    {% endblock %}



    {% block sidebar %}
    {% include 'inc/_sidebar_blog.html' %}
    {% endblock %}

    {% block wraper_end %}
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
      {% endblock %}

