{% extends 'base.html' %}
{% load static %}
{% load tags_list_tag %}
{% load cropping %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}


{% block title %}{{ block.super }}{% endblock %}


{% block h1 %}{{ title }}{% endblock %}


    {% block content %}
    <div class="content col-sm-12 col-md-9">

        <div id="custom-form">
            <form id="create_post_ajax" enctype='multipart/form-data' method="post">
            {% csrf_token %}
            {{ form.non_field.errors }}
                <div id="crispy_form">

                {{ form.title|as_crispy_field }}
                {{ form.photo|as_crispy_field }}
                <img id="preview_img" src="/media/default.jpg" alt="default image" />

                {{ form.content|as_crispy_field }}
                {{ form.description|as_crispy_field }}
                {{ form.category|as_crispy_field }}
                {{ form.tags|as_crispy_field }}
                {{ form.cities|as_crispy_field }}
            {{ form.captcha|as_crispy_field }}
                </div>

            <input type="submit" class="btn btn-outline-info" value="Добавить пост">
            </form>
        </div>


    </div>
    {% endblock %}



    {% block sidebar %}
    {% include 'inc/_sidebar_blog.html' %}
    {% endblock %}


{% block customjs %}
 <script>
     id_photo.onchange = evt => {
       const [file] = id_photo.files
       if (file) {
         preview_img.src = URL.createObjectURL(file)
       }
     }
 </script>

   <script type="text/javascript">
    // form upload
    $('#create_post_ajax').submit(function(e){
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        $.ajax({
            url: '{% url "create_post_ajax" %}',
            type: 'POST',
            data: formData,
            success: function (response) {
                $('.error').remove();
                console.log(response)
                if(response.error){
                    alert(response.message)
                    grecaptcha.reset();
                    $.each(response.errors, function(name, error){
                        error = '<small class="text-muted error">' + error + '</small>'
                        $form.find('[name=' + name + ']').after(error);
                    })
                }
                else{
                    alert(response.message)
                    window.location = ""
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
    // end
   </script>
{% endblock %}
