{% extends 'blog/blog.html' %}
{% load static %}
{% load tags_tag %}
{% load post_tags_tag %}

{% block title %}{{ post.title }} - {{ block.super }}{% endblock %}

{% block h1 %}{{ post.title }}{% endblock %}

{% block content %}

    <div class="content three_quarter first">
      {{ post.content|safe }}
      <div class="after-content">
        <div class="author-info">
          <img src="{{ post.author.profile.image.url }}">
          <a href="#">{{ post.author }}</a>
        </div>
        <div class="info">
          <div class="tags-info">
            <i class="fa fa-tag"></i>{% show_post_tags post %}
          </div>
          <div class="date">
            <i class="fa fa-calendar"></i><span>{{ post.created_at }}</span>
          </div>
        </div>

      </div>

    </div>

{% endblock %}