{% extends 'blog/blog.html' %}
{% load static %}
{% load tags_list_tag %}

{% block title %}{{ post.title }} {{ block.super }}{% endblock %}

{% block h1 %}{{ post.title }}{% endblock %}

{% block content %}

    <div class="content col-sm-12 col-md-9 p-3">
      {{ post.content|safe }}
      <div class="after-content">
        <div class="author-info">
          <img src="{{ post.author.profile.image.url }}">
          <a href="#">{{ post.author }}</a>
        </div>
        <div class="info">
          {% if post.tags.exists %}
          <div class="tags-info">
            <i class="fa fa-tag"></i>{% show_post_tags post %}
          </div>
          {% endif %}
          <div class="date">
            <i class="fa fa-eye"></i><span>{{ post.views }}</span>
            <i class="fa fa-calendar"></i><span>{{ post.created_at }}</span>
          </div>
        </div>

      </div>
      <div class="comments my-4">
      <h6>Комментарии:</h6>
        {% if comments %}
          {% for comment in comments %}
            <div>
            <article>
              <header>
                <figure class="avatar"><img src="{{ comment.author.profile.image.url }}" alt=""></figure>
                <address>
                от <a href="{{ comment.author.profile.get_absolute_url }}">{{ comment.author }}</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">{{ comment.created_at }}</time>
              </header>
              <div class="comcont">
                <p>{{ comment.content }}</p>
              </div>
            </article>
          </div>
          {% endfor %}
        {% else %}
        <p>Комментариев к записи нет. Вы можете оставить первый комментарий</p>
        {% endif %}


      <h6>Добавить комментарий</h6>
      {% if request.user.is_authenticated %}
      <div id="custom-form">
      <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="custom-btn" name="send-comment-button">Отправить</button>
      </form>
      </div>
      {% else %}
        <p>Чтобы оставлять комментарии, необходимо <a href="{% url 'login' %}">авторизоваться</a></p>
      {% endif %}


      </div>

    </div>

{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar_blog_post.html' %}
{% endblock %}