{% extends 'blog/blog.html' %}
{% load static %}
{% load post_tags_tag %}

{% block title %}{{ post.title }} {{ block.super }}{% endblock %}

{% block h1 %}{{ post.title }}{% endblock %}

{% block content %}

    <div class="content col-sm-12 col-md-9 p-3">
      {{ post.content|safe }}
      <div class="after-content">
        <div class="author-info">
          <img src="{{ post.author.profile.image.url }}">
          <a href="#">{{ post.author }}</a>
        </div>
        <div class="info">
          {% if post.tags.exists %}
          <div class="tags-info">
            <i class="fa fa-tag"></i>{% show_post_tags post %}
          </div>
          {% endif %}
          <div class="date">
            <i class="fa fa-eye"></i><span>{{ post.views }}</span>
            <i class="fa fa-calendar"></i><span>{{ post.created_at }}</span>
          </div>
        </div>

      </div>

    </div>

{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar_blog_post.html' %}
{% endblock %}