{% extends 'base.html' %}
{% load static %}
{% load cropping %}
{% load tags_list_tag %}

{% block title %}{{ title }} - {{ block.super }}{% endblock %}


{% block background %}
<div class="bgded" style="background-image:url('{% cropped_thumbnail page 'cropping' %}');">
  <div id="pageintro" class="hoc clear">
    <article>
      <h3 class="heading">{{ title }}</h3>
      <p>{{ page.description }}</p>
      {% if request.user.is_authenticated %}
      <footer>
        <a class="btn" href="{% url 'create_company_ajax' %}">Добавить организацию</a>
        <a class="btn" href="{% url 'create_post_ajax' %}">Добавить публикацию</a>
      </footer>
      {% else %}
      <footer><a class="btn" href="{% url 'register' %}">Зарегистрироваться</a></footer>
      {% endif %}
    </article>
  </div>
</div>
{% endblock %}

{% block content %}




<div class="wrapper row3">
  <main class="container">
    <!-- main body -->
    <div class="sectiontitle">
      <h6 class="heading">О проекте</h6>
      <p>Наша цель - помочь русскоговорящим иммигрантам в Турции</p>
    </div>
    <div class="row pb-5">
      <div class="col-sm-12 col-md-4"><img class="inspace-15 borderedbox" src="{% cropped_thumbnail page 'cropping_content_photo' %}" alt=""></div>
      <div class="col-sm-12 col-md-8">
        {% comment %}
        <div class="row">
          <div class="col-sm-12 col-md-6 text-center">
            <article>
              <h6 class="heading"><a href="#">Население</a></h6>
              <p class="nospace">{{ city.populate }} чел.</p>
            </article>
          </div>
          <div class="col-sm-12 col-md-6 text-center">
            <article>
              <h6 class="heading"><a href="#">До аэропорта</a></h6>
              <p class="nospace">{{ city.distance_to_airport }} км</p>
            </article>
          </div>
        </div>
        {% endcomment %}
        <p>{{ page.content|safe }}</p>
      </div>
    </div>

    <div class="sectiontitle">
      <h6 class="heading">Добавленные города</h6>
    </div>

    <div id="map"></div>


        {{ cities_coords|json_script:"cities-data"}}

        <script>
        function initMap() {
            var data = JSON.parse(document.getElementById('cities-data').textContent);
            console.log(data);
            document.addEventListener('DOMContentLoaded', function(){
                var map = new google.maps.Map(document.getElementById("map"), {
                        center: { lat: 37.215018, lng: 28.363730 },
                        zoom: 7
                    });

            infoWindow = new google.maps.InfoWindow; //static infoWindow for all your markers
            google.maps.event.addDomListener(window, 'load', function() {
                for(var i = 0; i < data.length; i++) {
                    var item = data[i];
                    var base_url = "http://maps.google.com/mapfiles/ms/icons/";
                    var marker = new google.maps.Marker({
                        position: {lat: item.lat, lng: item.lon},
                        map: map,
                        id: i,
                    });
                    marker.addListener('click', function() {
                        var marker = this;
                        // center map to marker
                        var objPoint = new google.maps.LatLng(
                            marker.position.lat(),
                            marker.position.lng()
                        );
                        map.setZoom(10);
                        var item = data[marker.id];
                        var contentString = '<div class="map__window" style="color: #000"><div class="map__window-title"><a href="' + item.url + '">' + item.name + '</a></div><p class="map__window-description">' + item.description + '</p></div>';

                        infoWindow.setContent(contentString);
                        infoWindow.open(map, marker);
                    });

                };
                google.maps.event.addListener(map, "click", function(event) {
                    infoWindow.close();
                });

            });

            });
        }


        window.initMap = initMap;

        </script>






        <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAP_API_KEY }}&callback=initMap">
        </script>

    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>


<div class="wrapper row2">
  <section class="hoc container clear">
    <div class="sectiontitle">
      <h6 class="heading">Важные статьи</h6>
      <p>Полезные статьи для иммигрантов</p>
    </div>
    <div class="row overview services">
      {% for article in articles %}
      <div class="col-sm-12 col-md-4 text-center p-3">
        <article>
          <h6 class="heading"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h6>
          <p>{{ article.description }}</p>
          <footer><a href="{{ article.get_absolute_url }}">Читать подробнее &raquo;</a></footer>
        </article>
      </div>
      {% endfor %}
    </div>
    <footer class="center"><a class="btn" href="{% url 'category' 'stati' %}">Все статьи</a></footer>
  </section>
</div>


<div class="wrapper row3">
  <section class="container">
    <div class="sectiontitle">
      <h6 class="heading">Новости</h6>
    </div>
    <div class="latest row row-cols-1 row-cols-md-2">
      {% for post in posts|slice:4 %}
      <article class="col mb-5">
        <a href="{{ post.get_absolute_url }}">
        {% if post.photo %}
            <img src="{% cropped_thumbnail post 'cropping_thumb' %}">
        {% else %}
            <img src="https://free4kwallpapers.com/uploads/originals/2015/10/07/beautifull-painting.jpg"
            width="474">
        {% endif %}
        </a>
        <div class="excerpt">
          <h6 class="heading">{{ post.title }}</h6>
          <p>{{ post.description }}</p>
          <div class="clear">
            <footer class=" fl_right"><a href="{{ post.get_absolute_url }}">Читать далее</a></footer>
            <div class="created">{{ post.created_at }}</div>
            <ul class="nospace meta fl_left">
              <li><i class="fa fa-user"></i> <a href="#">{{ post.author }}</a></li>
              <li><i class="fa fa-tag"></i> {% show_post_tags post %}</li>
            </ul>

          </div>
        </div>
      </article>
      {% endfor %}
    </div>


    {% include 'inc/_pagination.html' %}

    <footer class="center" style="margin-top: 20px;"><a class="btn" href="{% url 'category' 'novosti' %}">Все новости &raquo;</a></footer>
  </section>
</div>

{% endblock %}