{% load footer_tags %}

<div class="wrapper coloured">
  <article class="hoc cta container">
    <div class="row">
    {% if request.user.is_authenticated %}
    <div class="col-sm-12 col-lg-6">
    <h6>Вы можете помочь развитию проекта, если добавите полезные организации, новости
    или статьи.</h6>
    </div>
    <div class="col-sm-12 col-lg-6 align-self-center">
      <a class="btn" href="{% url 'create_company_ajax' %}">Добавить организацию</a>
      <a class="btn" href="{% url 'create_post_ajax' %}">Добавить публикацию</a>
    </div>
    {% else %}
    <div class="col-sm-12 col-lg-8">
    <h6>Вы можете помочь развитию проекта, если добавите полезные организации, новости
    или статьи. Для этого Вам нужно только зарегистрироваться</h6>
    </div>
    <div class="col-sm-12 col-lg-4 align-self-center">
      <a class="btn" href="{% url 'register' %}">Регистрация</a>
    </div>
    {% endif %}
    </div>
  </article>
</div>



<div class="wrapper row4">
  <footer id="footer" class="hoc clear">
    <div class="one_quarter first">
      <h6 class="heading">Контакты</h6>
      <ul class="nospace btmspace-30 linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
          Koycegiz, Melisa sokak, 4, 4
          </address>
        </li>
        <li><i class="fa fa-phone"></i> +90 (507) 260 4820</li>
        <li><i class="fa fa-envelope-o"></i> info@mugla.com</li>
      </ul>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-whatsapp" href="#"><i class="fa fa-whatsapp"></i></a></li>
        <li><a class="faicon-instagram" href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a class="faicon-telegram" href="#"><i class="fa fa-telegram"></i></a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Меню</h6>
      <ul class="nospace linklist">
        <li><a href="{% url 'cities' %}">Города</a></li>
        <li><a href="{% url 'category' 'news' %}">Новости</a></li>
        <li><a href="{% url 'category' 'articles' %}">Статьи</a></li>
        <li><a href="{% url 'companies' %}">Компании</a></li>
        <li><a href="{% url 'feedback' %}">Обратная связь</a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Последние новости</h6>
      {% get_last_posts %}
    </div>
    <div class="one_quarter">
      <h6 class="heading">Consectetur orci cras</h6>
      <p class="nospace btmspace-15">Congue eget dolor ac tristique non sapien vulputate ornare enim eu egestas ipsum.</p>
      <form method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
  </footer>
</div>


<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </div>
</div>


<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
