{% load menu_tag %}
{% load cache %}
<div class="wrapper row0">
  <div id="topbar" class="hoc">
<!--    <ul class="nospace">-->
<!--      <li></li>-->
<!--      <li><a href="{% url 'home' %}"><i class="fa fa-lg fa-home"></i></a></li>-->
<!--      <li><a href="#" title="Help Centre"><i class="fa fa-life-bouy"></i></a></li>-->
<!--      <li><a href="{% url 'login' %}" title="Login"><i class="fa fa-lg fa-sign-in"></i></a></li>-->
<!--      <li><a href="{% url 'register' %}" title="Sign Up"><i class="fa fa-lg fa-edit"></i></a></li>-->
<!--    </ul>-->
      <div class="email"><i class="fa fa-envelope-o"></i> info@domain.com</div>
      {% if request.user.is_authenticated %}
      <div>
          <a class="btn" href="{% url 'profile' %}">Мой профиль</a>
          <a class="btn" href="{% url 'logout' %}">Выйти</a>
      </div>
      {% else %}
      <div>
          <a class="btn" href="{% url 'login' %}">Войти</a>
          <a class="btn" href="{% url 'register' %}">Зарегистрироваться</a>
      </div>
      {% endif %}
  </div>
</div>


<div class="wrapper row1">
  <header id="header" class="hoc clear">
      {% cache 20 header %}
    <section>
      <div><i class="fa fa-phone"></i> +00 (123) 456 7890</div>
      <div>
        <h1 id="logo"><a href="{% url 'home' %}">Nalpure</a></h1>
      </div>
      <div>
        <form class="clear" method="get" action="{% url 'search' %}">
          <fieldset>
            <legend>Поиск:</legend>
            <input type="text" name="search" value="" placeholder="Найти ...">
            <button class="fa fa-search" type="submit" title="Search"><em>Поиск</em></button>
          </fieldset>
        </form>
      </div>
    </section>

      {% show_menu %}


      {% endcache %}

          {% if messages %}
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }}" role="alert">
                  {{ message }}
              </div>
          {% endfor %}
          {% endif %}

  </header>

</div>