{% extends 'inc/_sidebar.html' %}
{% load sidebar_tags %}


{% block sidebar_content %}
<h6>Меню профиля</h6>
<div class="btn-group-vertical pb-4 col-12" role="group" aria-label="Vertical button group">
    {% if request.user.is_authenticated %}
    <a href="{% url 'edit_profile' %}" class="btn">Редактировать профиль</a>
    <a href="{% url 'password_change' %}" class="btn">Изменение пароля</a>
    <a href="{% url 'logout' %}" class="btn">Выйти</a>
    {% else %}
    <a href="{% url 'register' %}" class="btn">Зарегистрироватья</a>
    <a href="{% url 'login' %}" class="btn">Войти</a>
    {% endif %}
</div>
{% show_tag_list %}
<p>Какой-то текст users</p>
{% endblock %}