{% extends 'inc/_sidebar.html' %}
{% load sidebar_tags %}


{% block sidebar_content %}
<h2>Категории</h2>
<div class="accordion mb-5" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            {% if request.user.is_authenticated %}
            <div class="head-cat-wrap">
                <a href="{% url 'edit_profile' %}">Редактировать профиль</a>
            </div>
            <div class="head-cat-wrap">
                <a href="{% url 'password_change' %}">Изменение пароля</a>
            </div>
            <div class="head-cat-wrap">
                <a href="{% url 'create_company_ajax' %}">Добавить компанию</a>
            </div>
            <div class="head-cat-wrap">
                <a href="{% url 'create_post_ajax' %}">Добавить пост</a>
            </div>
            <div class="head-cat-wrap">
                <a href="{% url 'logout' %}">Выйти</a>
            </div>
            {% else %}
            <div class="head-cat-wrap">
                <a href="{% url 'register' %}">Зарегистрироваться</a>
            </div>
            <div class="head-cat-wrap">
                <a href="{% url 'login' %}">Войти</a>
            </div>
            {% endif %}
        </div>
</div>

{% endblock %}