{% extends 'companies/companies.html' %}

{% load static %}
{% load tags_list_tag %}
{% load cropping %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}{{ company.title }} {{ block.super }}{% endblock %}

{% block breadcrumbs %}
  <ul>
    <li><a href="/">Главная</a></li>
    <li><a href="{% url 'companies' %}">Компании</a></li>
    {% for item in breadcrumbs %}
    <li><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
    {% endfor %}
    <li>{{ company.title }}</li>
  </ul>
{% endblock %}

{% block h1 %}{{ company.title }}{% endblock %}

{% block content %}

    <div class="content col-sm-12 col-md-9 p-3">
        <div class="company-info">
            <div class="company-img col-md-4">
                <img class="company-img" src="{% cropped_thumbnail company 'cropping_thumb' %}">
            </div>
            <div class="media-body px-3">
                <p class="text-secondary"><span class="param-name">Описание</span>: {{ company.description }}</p>
                <p class="text-secondary"><span class="param-name">Тип</span>: <a href="{{ company.type.get_absolute_url }}">{{ company.type }}</a></p>
                <p class="text-secondary"><span class="param-name">web-site</span>: <a href="{{ company.site }}">
                    {{ company.site }}</a></p>
                <p class="text-secondary"><span class="param-name">Город</span>:
                    <a href="{{ company.city.get_absolute_url }}">{{ company.city }}</a></p>
                <p class="text-secondary"><span class="param-name">Phone</span>: <a target="_blank" href="tel:{{ company.phone|stringformat:'s'|slice:'1:'}}">{{ company.phone }}</a></p>
                <p class="text-secondary"><span class="param-name">WhatsApp</span>: <a target="_blank" href="https://api.whatsapp.com/send?phone={{ company.whatsapp|stringformat:'s'|slice:'1:'}}">{{ company.whatsapp }}</a></p>
                <p class="text-secondary"><span class="param-name">Telegram</span>: <a target="_blank" href="http://t.me/{{ company.telegram }}">{{ company.telegram }}</a></p>
            </div>
        </div>

        {% if company.location %}
        <div id="map"></div>
        <script>

          function initMap() {
              // The location of Uluru
              const uluru = { lat: {{ company.latitude }}, lng: {{ company.longitude }} };
              // The map, centered at Uluru
              const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 14,
                center: uluru,
              });
              // The marker, positioned at Uluru
              const marker = new google.maps.Marker({
                position: uluru,
                map: map,
              });
              infowindow = new google.maps.InfoWindow({
                content: "<strong><a href=\"\">{{ company.title }}</a></strong><p>{{ company.description }}</p>"
              });
              marker.addListener('click', function() {
                  infowindow.open(map, marker);
                });
              google.maps.event.addListener(map, "click", function(event) {
                infowindow.close();
            });
            }
            window.initMap = initMap;

        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAP_API_KEY }}&callback=initMap">
        </script>
        {% endif %}


        {{ company.content|safe }}
        <figcaption class="sectiontitle">
            <h6 class="heading">Purus vehicula pulvinar</h6>
            <p>Imperdiet vel duis aliquet urna vel urna molestie sit amet</p>
        </figcaption>
        <ul class="gallery nospace group overview">
            {% for img in gallery %}
            <li class="one_third"><a href="{{ img.image.url }}" class="fancybox"><img src="{% cropped_thumbnail img 'cropping_gallery' %}" alt=""></a></li>
            {% endfor %}
        </ul>
        <!-- Button trigger modal -->

        <div class="edit-btn p-3">
            {% if request.user.is_authenticated %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPhotos">
              Добавить фото
            </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changeCompany">
              Предложить изменение
            </button>
            {% else %}
            <button type="button" class="btn disabled">
              Добавить фото
            </button>
            <button type="button" class="btn disabled">
              Предложить изменение
            </button>
            <p>Для внесения изменений <a href="{% url 'login' %}">авторизуйтесь</a> или <a href="{% url 'register' %}">зарегистрируйтесь</a></p>
            {% endif %}
        </div>


      <div class="after-content">
        <div class="author-info">
          <img src="{{ company.author.profile.image.url }}">
          <a href="#">{{ company.author }}</a>
        </div>
        <div class="info">
          {% if company.tags.exists %}
          <div class="tags-info">
            <i class="fa fa-tag"></i>{% show_post_tags company %}
          </div>
          {% endif %}
          <div class="date">
            <i class="fa fa-eye"></i><span>{{ company.views }}</span>
            <i class="fa fa-calendar"></i><span>{{ company.created_at }}</span>
          </div>
        </div>

      </div>
        <div class="comments my-4">
            <h6>Комментарии:</h6>
            {% if comments %}
                {% for comment in comments %}
                <div class="comment">
                    <div class="author-info">
                        <img src="{{ comment.author.profile.image.url }}" alt="">
                        <div class="comment-info">
                            от <a href="{{ comment.author.profile.get_absolute_url }}">{{ comment.author }}</a>
                            <p>{{ comment.created_at }}</p>
                        </div>
                    </div>
                    <div class="comment-content">
                        <p>{{ comment.content }}</p>
                    </div>

                </div>
                {% endfor %}
            {% else %}
                <p>Комментариев к записи нет. Вы можете оставить первый комментарий</p>
            {% endif %}


            <h6>Добавить комментарий</h6>
            {% if request.user.is_authenticated %}
                <div id="custom-form">
                    <form action="" id="add_comment_company" method="post">
                        {% csrf_token %}
                        <div id="crispy_form">
                        {{ form.as_p }}
                        </div>
                        <button type="submit" class="custom-btn" name="send-comment-button">Отправить</button>
                    </form>
                </div>
            {% else %}
                <p>Чтобы оставлять комментарии, необходимо <a href="{% url 'login' %}">авторизоваться</a></p>
            {% endif %}

        </div>
    </div>

{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar_companies_post.html' %}
{% endblock %}


{% block customjs %}

<!-- Modal -->
<div class="modal fade" id="addPhotos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">

          <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Загрузить фото</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="custom-form">
            <form id="add_photo_ajax" enctype='multipart/form-data' novalidate method="post" >
                {% csrf_token %}

            <div id="add_photo_form" class="p-3">
                {{ add_photo_form|crispy }}
            </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Закрыть</button>
                    <input type="submit" class="btn btn-outline-info" value="Добавить фото">
                </div>
            </form>

        </div>
      </div>

    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="changeCompany" tabindex="-1" aria-labelledby="changeCompanyLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-body">

          <div class="modal-header">
        <h1 class="modal-title fs-5" id="changeCompanyLabel">Предложить изменение</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="custom-form">
            <form id="change_company_ajax" enctype='multipart/form-data' novalidate method="post" >
                {% csrf_token %}

            <div id="change_company_form" class="p-3">
                {{ change_company_form.title|as_crispy_field }}
                {{ change_company_form.content|as_crispy_field }}
                {{ change_company_form.description|as_crispy_field }}
                {{ change_company_form.type|as_crispy_field }}
                {{ change_company_form.tags|as_crispy_field }}
                {{ change_company_form.cities|as_crispy_field }}
                <div class="row">
                    <div class="form-group col-md-6 mb-0">
                {{ change_company_form.site|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                {{ change_company_form.phone|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 mb-0">
                {{ change_company_form.whatsapp|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                {{ change_company_form.telegram|as_crispy_field }}
                    </div>
                </div>
                {{ change_company_form.note|as_crispy_field }}
                {{ change_company_form.russian_speak|as_crispy_field }}
                {{ change_company_form.english_speak|as_crispy_field }}

            </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Закрыть</button>
                    <input type="submit" class="btn btn-outline-info" value="Отправить">
                </div>
            </form>

        </div>
      </div>

    </div>
  </div>
</div>


   <script type="text/javascript">
    // form upload
    $('#add_comment_company').submit(function(e){
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        $.ajax({
            type: 'POST',
            data: formData,
            success: function (response) {
                $('.error').remove();
                console.log(response)
                if(response.error){
                    alert(response.message)
                    grecaptcha.reset();
                    $.each(response.errors, function(name, error){
                        error = '<small class="text-muted error">' + error + '</small>'
                        $form.find('[name=' + name + ']').after(error);
                    })
                }
                else{
                    alert(response.message)
                    window.location = ""
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
    // end
   </script>




<script type="text/javascript">
    // form upload
    $('#add_photo_ajax').submit(function(e){
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        $.ajax({
            url: '{% url "add_photo_ajax" %}',
            type: 'POST',
            data: formData,
            success: function (response) {
                $('.error').remove();
                console.log(response)
                if(response.error){
                    alert(response.message)
                    grecaptcha.reset();
                    $.each(response.errors, function(name, error){
                        error = '<small class="text-muted error">' + error + '</small>'
                        $form.find('[name=' + name + ']').after(error);
                    })
                }
                else{
                    alert(response.message)
                    window.location = ""
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
    // end
   </script>

<script type="text/javascript">
    // form upload
    $('#change_company_ajax').submit(function(e){
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        $.ajax({
            url: '{% url "change_company_ajax" %}',
            type: 'POST',
            data: formData,
            success: function (response) {
                $('.error').remove();
                console.log(response)
                if(response.error){
                    alert(response.message)
                    grecaptcha.reset();
                    $.each(response.errors, function(name, error){
                        error = '<small class="text-muted error">' + error + '</small>'
                        $form.find('[name=' + name + ']').after(error);
                    })
                }
                else{
                    alert(response.message)
                    window.location = ""
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
    // end
   </script>
{% endblock %}