{% extends 'companies/companies.html' %}

{% load static %}
{% load tags_list_tag %}
{% load cropping %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}{{ block.super }}{% endblock %}

{% block h1 %}{{ title }}{% endblock %}

{% block content %}
    <div class="content col-sm-12 col-md-9 p-3">
        <div id="custom-form">


            <form id="create_company_ajax" enctype='multipart/form-data' novalidate method="post" >
                {% csrf_token %}

            <div id="crispy_form">
                {{ form.title|as_crispy_field }}
                {{ form.content|as_crispy_field }}
                {{ form.description|as_crispy_field }}
                {{ form.type|as_crispy_field }}
                {{ form.tags|as_crispy_field }}
                {{ form.cities|as_crispy_field }}
                <div class="row">
                    <div class="form-group col-md-6 mb-0">
                {{ form.site|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                {{ form.phone|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 mb-0">
                {{ form.whatsapp|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                {{ form.telegram|as_crispy_field }}
                    </div>
                </div>
                {{ form.note|as_crispy_field }}
                {{ form.russian_speak|as_crispy_field }}
                {{ form.english_speak|as_crispy_field }}

                {{ form.photo|as_crispy_field }}
                <img id="preview_img" src="/media/default.jpg" alt="default image" />
                {{ form.gallery_images|as_crispy_field }}
                {{ form.captcha|as_crispy_field }}
            </div>

            <input type="submit" class="btn btn-outline-info" value="Добавить компанию">

            </form>
        </div>
    </div>



{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar_blog_post.html' %}
{% endblock %}

{% block customjs %}
 <script>
     id_photo.onchange = evt => {
       const [file] = id_photo.files
       if (file) {
         preview_img.src = URL.createObjectURL(file)
       }
     }
 </script>

   <script type="text/javascript">
    // form upload
    $('#create_company_ajax').submit(function(e){
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        $.ajax({
            url: '{% url "create_company_ajax" %}',
            type: 'POST',
            data: formData,
            success: function (response) {
                $('.error').remove();
                console.log(response)
                if(response.error){
                    alert(response.message)
                    grecaptcha.reset();
                    $.each(response.errors, function(name, error){
                        error = '<small class="text-muted error">' + error + '</small>'
                        $form.find('[name=' + name + ']').after(error);
                    })
                }
                else{
                    alert(response.message)
                    window.location = ""
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
    // end
   </script>
{% endblock %}