{% extends 'companies/companies.html' %}

{% load static %}
{% load tags_list_tag %}
{% load cropping %}

{% block title %}{{ company.title }} {{ block.super }}{% endblock %}

{% block h1 %}{{ company.title }}{% endblock %}

{% block content %}
    <div class="content col-sm-12 col-md-9 p-3">
        <div class="custom-form">
            <form action="{% url 'create_company' %}" method="post">
            {% csrf_token %}
            {{ form.non_field.errors }}
            <div class="mb-3">
                <label for="{{ form.title.id_for_label }}" class="form-label">Название</label>
                {{ form.title }}
                {{ form.title.errors}}
            </div>
            <div class="mb-3">
                <label for="{{ form.photo.id_for_label }}" class="form-label">Фото</label>
                {{ form.photo }}
                {{ form.photo.errors}}
                <img id="preview_img" src="/media/default.jpg" alt="default image" />
                <img id="display-img"/>
                <script>
                    id_photo.onchange = evt => {
                      const [file] = id_photo.files
                      if (file) {
                        preview_img.src = URL.createObjectURL(file)
                      }
                    }
                </script>
            </div>

            <div class="mb-3">
                <label for="{{ form.content.id_for_label }}" class="form-label">Описание</label>
                {{ form.content }}
                {{ form.content.errors}}
            </div>
            <div class="mb-3">
                <label for="{{ form.description.id_for_label }}" class="form-label">Краткое описание</label>
                {{ form.description }}
                {{ form.description.errors}}
            </div>
            <div class="mb-3">
                <label for="{{ form.type.id_for_label }}" class="form-label">Тип организации</label>
                {{ form.type }}
                {{ form.type.errors}}
            </div>
            <div class="mb-3">
                <label for="{{ form.tags.id_for_label }}" class="form-label">Теги</label>
                {{ form.tags }}
                {{ form.tags.errors}}
            </div>
            <div class="mb-3">
                <label for="{{ form.cities.id_for_label }}" class="form-label">Город</label>
                {{ form.cities }}
                {{ form.cities.errors}}
            </div>
            <div class="mb-3">
                <label for="{{ form.site.id_for_label }}" class="form-label">Сайт</label>
                {{ form.site }}
                {{ form.site.errors}}
            </div>
            <div class="mb-3">
                <label for="{{ form.phone.id_for_label }}" class="form-label">Телефон</label>
                {{ form.phone }}
                {{ form.phone.errors}}
            </div>
            <div class="mb-3">
                <label for="{{ form.whatsapp.id_for_label }}" class="form-label">WhatsApp</label>
                {{ form.whatsapp }}
                {{ form.whatsapp.errors}}
            </div>
            <div class="mb-3">
                <label for="{{ form.telegram.id_for_label }}" class="form-label">Telegram</label>
                {{ form.telegram }}
                {{ form.telegram.errors}}
            </div>
            <div class="mb-3">
                <label for="{{ form.note.id_for_label }}" class="form-label">Заметка</label>
                {{ form.note }}
                {{ form.note.errors}}
            </div>
            <div class="mb-3">
                <label for="{{ form.russian_speak.id_for_label }}" class="form-check-label">Есть русскоговорящий персонал</label>
                {{ form.russian_speak }}
                {{ form.russian_speak.errors}}
            </div>
            <div class="mb-3">
                <label for="{{ form.english_speak.id_for_label }}" class="form-check-label">Есть англоговорящий персонал</label>
                {{ form.english_speak }}
                {{ form.english_speak.errors}}
            </div>

            {% comment %}

            {{ form.as_p }}


            {% for field in form %}
            <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            <div class="invalid-feedback">
            {{ field.errors}}
            </div>
            </div>
            {% endfor %}
            {% endcomment %}
            <button type="submit" class="custom-btn">Добавить компанию</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar_blog_post.html' %}
{% endblock %}