<!DOCTYPE html>
{% load static %}
{% load cache %}
<html lang="">
<head>
<title>{% block title %}Mugla RUS{% endblock %}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">

{% cache 20 header %}
{% include 'inc/_header.html' %}
{% endcache %}

{% block content %}
{% endblock %}

{% cache 20 footer %}
{% include 'inc/_footer.html' %}
{% endcache %}
<!-- JAVASCRIPTS -->
<script src="{% static 'layout/scripts/jquery.min.js' %}"></script>
<script src="{% static 'layout/scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'layout/scripts/jquery.mobilemenu.js' %}"></script>
<script src="{% static 'layout/scripts/active.js' %}"></script>
</body>
</html>