<!DOCTYPE html>
{% load static %}
{% load cache %}
{% load cropping %}

<html lang="">
<head>
  {{ ProfileUpdateForm.media }}
<title>{% block title %}Mugla RUS{% endblock %}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- jQuery -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  {% block head_scripts %}

  {% endblock %}

<link href="{% static 'layout/styles/framework.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link href="{% static 'layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">



  {% if p_form.media %}
  {{ p_form.media }}
  {% endif %}
  {% include "fancybox/fancybox_css.html" %}

</head>
<body id="top">


{% include 'inc/_header.html' %}

{% block background %}
  {% if instance.cropping %}
    <div class="bgded overlay" style="background-image:url('{% cropped_thumbnail instance 'cropping' scale=0.5 %}');">
  {% elif post %}
    <div class="bgded overlay" style="background-image:url('{% cropped_thumbnail post 'cropping' scale=0.5 %}');">
  {% elif company %}
    <div class="bgded overlay" style="background-image:url('{% cropped_thumbnail company 'cropping' scale=0.5 %}');">
  {% else %}
    <div class="bgded overlay" style="background-image:url('{% static '/images/default-background.jpg' %}');">
  {% endif %}
      <section id="breadcrumb" class="hoc clear">
      {% block breadcrumbs %}
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Lorem</a></li>
          <li><a href="#">Ipsum</a></li>
          <li><a href="#">Dolor</a></li>
        </ul>
      {% endblock %}
        <h6 class="heading">
          {% block h1 %}
          {{ title }}
          {% endblock %}
        </h6>
      </section>
  </div>
{% endblock %}

{% block wraper_start %}
<div class="container">
<main class="row">
<!-- main body -->
{% endblock %}

{% block content %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block wraper_end %}
<!-- / main body -->
<div class="clear"></div>
</main>
</div>
{% endblock %}

{% cache 20 footer %}
{% include 'inc/_footer.html' %}
{% endcache %}
<!-- JAVASCRIPTS -->
<!-- Fengyuan Chen's Datepicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
<script>
    $(function () {
        $("#datepicker").datepicker({
        format:'dd.mm.yyyy',
        });
        $("#datepicker").mask("99.99.9999");
    });
</script>
<script src="{% static 'layout/scripts/jquery.min.js' %}"></script>
<script src="{% static 'layout/scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'layout/scripts/jquery.mobilemenu.js' %}"></script>
<script src="{% static 'layout/scripts/active.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>




<!-- Подключение jQuery плагина Masked Input -->
<script src="{% static 'mask-input/jquery.maskedinput.min.js' %}"></script>


{% include "fancybox/fancybox_js.html" %}


{% block customjs %}
{% endblock %}

</body>
</html>