{% load mptt_tags %}
<nav id="mainav">
    <ul class="clear">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a class="drop" href="#">Cities</a>
            <ul>
                {% for item in cities %}
                <li><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li><a class="drop" href="{% url 'blog' %}">Новости</a>
            <ul>
                {% recursetree categories %}
                <li>
                    {% if node.is_leaf_node %}
                    <a href="{{node.get_absolute_url}}">{{node.title}}</a>
                    {% elif not node.is_leaf_node %}
                    <a class="drop" href="{{node.get_absolute_url}}">{{node.title}}</a>
                        <ul class="children">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
                {% endrecursetree %}
            </ul>
        </li>
        <li><a class="drop" href="{% url 'companies' %}">Компании</a>
            <ul>
                {% recursetree company_types %}
                <li>
                    {% if node.is_leaf_node %}
                    <a href="{{node.get_absolute_url}}">{{node.title}}</a>
                    {% elif not node.is_leaf_node %}
                    <a class="drop" href="{{node.get_absolute_url}}">{{node.title}}</a>
                        <ul class="children">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
                {% endrecursetree %}

            </ul>
        </li>
        <li><a href="#">Link Text</a></li>
        <li><a href="#">Link Text</a></li>
        <li><a href="#">Long Link Text</a></li>
    </ul>
</nav>

{% load mptt_tags %}

