{% load mptt_tags %}
<nav id="mainav">
    <ul class="clear">
        <li><a href="{% url 'home' %}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li><a class="drop" href="{% url 'regions' %}">Города</a>
            <ul>
                {% for region in cities_by_regions %}
                <li>
                    <a class="drop" href="{{ region.name.get_absolute_url }}">{{ region.name.title }}</a>
                    <ul class="children">
                    {% for city in region.cities %}
                        <li><a href="{{ city.get_absolute_url }}">{{ city.title }}</a></li>
                    {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </li>
        <li><a class="drop" href="{% url 'category' 'novosti' %}">Новости</a>
            <ul>
                {% recursetree news %}
                <li>
                    {% if node.is_leaf_node %}
                    <a href="{{node.get_absolute_url}}">{{node.title}}</a>
                    {% elif not node.is_leaf_node %}
                    <a class="drop" href="{{node.get_absolute_url}}">{{node.title}}</a>
                        <ul class="children">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
                {% endrecursetree %}
            </ul>
        </li>
        <li><a class="drop" href="{% url 'category' 'stati' %}">Статьи</a>
            <ul>
                {% recursetree articles %}
                <li>
                    {% if node.is_leaf_node %}
                    <a href="{{node.get_absolute_url}}">{{node.title}}</a>
                    {% elif not node.is_leaf_node %}
                    <a class="drop" href="{{node.get_absolute_url}}">{{node.title}}</a>
                        <ul class="children">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
                {% endrecursetree %}
            </ul>
        </li>
        <li><a class="drop" href="{% url 'companies' %}">Компании</a>
            <ul>
                {% recursetree company_types %}
                <li>
                    {% if node.is_leaf_node %}
                    <a href="{{node.get_absolute_url}}">{{node.title}}</a>
                    {% elif not node.is_leaf_node %}
                    <a class="drop" href="{{node.get_absolute_url}}">{{node.title}}</a>
                        <ul class="children">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
                {% endrecursetree %}
            </ul>
        </li>
        <li><a href="{% url 'feedback' %}">Обратная связь</a></li>
    </ul>
</nav>

{% load mptt_tags %}

