<nav id="mainav">
    <ul class="clear">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a class="drop" href="#">Cities</a>
            <ul>
                {% for item in cities %}
                <li><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li><a class="drop" href="{% url 'blog' %}">Новости</a>
            <ul>
                {% for item in categories %}
                <li><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li><a href="#">Link Text</a></li>
        <li><a href="#">Link Text</a></li>
        <li><a href="#">Link Text</a></li>
        <li><a href="#">Long Link Text</a></li>
    </ul>
</nav>